<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @non_teaching_staff.full_name %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @non_teaching_staff.father_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @non_teaching_staff.date_of_birth %>
</p>

<p>
  <strong>Date of joining:</strong>
  <%= @non_teaching_staff.date_of_joining %>
</p>

<p>
  <strong>Married:</strong>
  <%= @non_teaching_staff.married %>
</p>

<p>
  <strong>Spouse name:</strong>
  <%= @non_teaching_staff.spouse_name %>
</p>

<p>
  <strong>Aniversary date:</strong>
  <%= @non_teaching_staff.aniversary_date %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @non_teaching_staff.qualification %>
</p>

<p>
  <strong>Role:</strong>
  <%= @non_teaching_staff.role %>
</p>

<p>
  <strong>Email:</strong>
  <%= @non_teaching_staff.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @non_teaching_staff.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @non_teaching_staff.address %>
</p>

<%= link_to 'Edit', edit_non_teaching_staff_path(@non_teaching_staff) %> |
<%= link_to 'Back', non_teaching_staffs_path %>
