<div class="row">
  <div id="login_window">
    <%= form_for(@teaching_staff) do |f| %>
      <fieldset>
        <legend>Create Teaching Staff</legend>
        <% if @teaching_staff.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@teaching_staff.errors.count, "error") %> prohibited this teaching_staff from being saved:</h2>
      
            <ul>
            <% @teaching_staff.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="field">
          <%= f.label :full_name %><br>
          <%= f.text_field :full_name %>
        </div>
        <div class="field">
          <%= f.label :father_name %><br>
          <%= f.text_field :father_name %>
        </div>
        <div class="field">
          <%= f.label :date_of_birth %><br>
          <%= f.text_field :date_of_birth, :class=>"span2",  :value =>  @teaching_staff.date_of_birth.blank? ? Date.today.strftime("%d/%m/%Y") : @teaching_staff.date_of_birth, "data-date" => "17/4/1986", "data-date-format" => "dd/mm/yyyy" %>
        </div>
        <div class="field">
          <%= f.label :date_of_joining %><br>
          <%= f.text_field :date_of_joining, :class=>"span2",  :value =>  @teaching_staff.date_of_joining.blank? ? Date.today.strftime("%d/%m/%Y") : @teaching_staff.date_of_joining, "data-date" => "17/4/1986", "data-date-format" => "dd/mm/yyyy"  %>
        </div>
        <div class="field">
          <%= f.label :qualification %><br>
          <%= f.text_field :qualification %>
        </div>
        <div class="field">
          <%= f.label :role %><br>
          <%= f.text_field :role %>
        </div>
        <div class="field">
          <%= f.label :married %><br>
          <%= f.check_box :married %>
        </div>
        <div class="field">
          <%= f.label :spouse_name %><br>
          <%= f.text_field :spouse_name %>
        </div>
        <div class="field">
          <%= f.label :aniversary_date %><br>
          <%= f.text_field :aniversary_date, :class=>"span2",  :value =>  @teaching_staff.aniversary_date.blank? ? Date.today.strftime("%d/%m/%Y") : @teaching_staff.aniversary_date, "data-date" => "17/4/1986", "data-date-format" => "dd/mm/yyyy"  %>
        </div>
        <div class="field">
          <%= f.label :email %><br>
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label :mobile %><br>
          <%= f.text_field :mobile %>
        </div>
        <div class="field">
          <%= f.label :address %><br>
          <%= f.text_area :address, :rows => 5 %>
        </div>
        <div class="actions">
          <%= f.submit nil, :class => "button tiny" %>
          <%= link_to 'Back', teaching_staffs_path, :class => "button tiny" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#teaching_staff_date_of_birth').fdatepicker();
    $('#teaching_staff_date_of_joining').fdatepicker();
    $('#teaching_staff_aniversary_date').fdatepicker();
  });
</script>